@import url('https://fonts.googleapis.com/css?family=El+Messiri|Marmelad');

@font-face {
    font-family: 'Segoe112';
    src: url('fonts/segoe-print.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    font-family: "Segoe UI", sans-serif;
    flex-direction: column;
    min-width: 400px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    transition: all .6s ease; /*эффект перехода между двумя состояниями*/
}

a:hover {
    font-family: sans-serif;
    color: #b42f2f;
    transition: all .6s ease;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.language,
.help {
    height: 3%;
    padding: 0 10px 0;
}

.help {
    border-right: 1px solid black;
    cursor: help;
}

.help:hover,
.language:hover {
    text-decoration: underline;
}

.service {
    width: 100%;
    height: 18px;
    text-align: right;
    background-color: #D4D4D4;
}

.logo-line {
    height: 40px;
    width: 100%;
    background: #b42f2f 100%;
}

.filter-line {
    background: #8e8e8e;
    height: 25px;
}

/*input {*/
/*color: #b42f2f;*/
/*width: 75%;*/
/*position: relative;*/
/*transition: .3s linear;*/
/*}*/

/*input:focus {*/
/*width: 100%;*/
/*}*/

.apply {
    width: 75%;
}

.reset {
    display: none;
    width: 75%;
    color: black;
}

.reset:focus {
    width: 75%;
}

.logo {
    width: auto;
    height: 85%;
    margin: 3px;
}

.filter {
    text-align: center;
    float: contour;
    color: black;
    tab-size: 150px;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold
}

.filterpar {
    width: 10%;
    position: relative;
    z-index: 1;
}

.filterpar:hover .filtmenu {
    display: block;
    float: left;
}

.filtmenu {
    display: none;
    z-index: 0;
    position: absolute;
    background: white;
    border: 3px black;
}

.title-tags:hover .list-tags {
    position: absolute;
    display: inline-block;
    height: auto;
    width: auto;
}

.list-tags > p {
    width: 100%;
}

.list-tags {
    display: none;
    background: #A09C9C;
    height: auto;
    width: auto;
}

.username {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    margin: 10px;
    float: right;
    align-content: right;
    padding: 0;
}

.username:hover {
    color: black;
    transition: all .6s linear;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.photopost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 300px;
    width: 800px;
    /*граница для фотопоста*/
    border-style: solid;
    border-radius: 0 3px 3px 0;
    border-width: thin;
    border-color: black;
}

.image-wrapper {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    border-right: thin solid black;
}

.photo {
    max-width: 100%;
    max-height: 300px;
}

.actionElements {
    width: 40px;
    height: 40px;
}

.actions-wrapper {
    border-right: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 300px;
}

.count-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoLikedIt {
    display: none;
    background: #A09C9C;
    height: auto;
    width: auto;
}

.whoFavoriteIt {
    display: none;
    background: #A09C9C;
    height: auto;
    width: auto;
}

.count-likes:hover .whoLikedIt {
    display: inline-block;
    position: absolute;
    height: auto;
    width: auto;
}

.count-favorite:hover .whoFavoriteIt {
    display: inline-block;
    position: absolute;
    height: auto;
    width: auto;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    align-items: flex-start;
    font-family: "Segoe112", sans-serif;
    width: 40%;
}

.annotation {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    height: 200px;
}

.nickname {
    border-bottom: darkslategray dashed 2px;
}

.title-tags {
    border-bottom: solid 2px;
}

footer {
    background: #8e8e8e;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Segoe UI", sans-serif;
    font-size: 80%;
}

.picport {
    height: 120px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: block;
    z-index: 10;
    cursor: n-resize;
}

.add-post {
    width: 40px;
    height: 40px;
    position: fixed;
    margin-top: 15px;
    margin-left: 90%;
    display: block;
    z-index: 5;
    cursor: cell;
}

#changeButton{
    display: none;
}

/*выделение текста*/
::selection {
    background: dimgrey;
    color: white;

}

.load-button {
    width: 20%;
    height: 50px;
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #b42f2f;
    text-decoration: none;
    color: black;
    font-family: Segoe112;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    outline: none;
}

.load-more {
    width: 100%;
}

.loading {
    height: 50px;
    display: none;
    margin: auto;
    cursor: wait;
}

.loading .letter {
    animation-name: load;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: initial;
    float: left;
    font-size: 25px;
    color: #777;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.l-1 {
    animation-delay: .48s;
}

.l-2 {
    animation-delay: .6s;
}

.l-3 {
    animation-delay: .72s;
}

.l-4 {
    animation-delay: .84s;
}

.l-5 {
    animation-delay: .96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

.letter-holder {
    width: auto;
    height: 40px;
    bottom: 30px;
    right: 30px;
}

@media all and (max-device-width: 850px) {
    .content {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .photopost {
        display: flex;
        flex-direction: column;
        margin: 30px;
        height: auto;
        width: 350px;
        /*граница для фотопоста*/
        border-style: solid;
        border-radius: 0 0 3px 3px;
        border-width: thin;
        border-color: black;
    }

    .actions-wrapper {
        border-bottom: thin solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 350px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .photo {
        max-width: 350px;
        max-height: 240px;
    }

    .image-wrapper {
        border-bottom: thin solid black;
        width: 350px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*значки лайка и избранного*/
    .actionElements {
        width: 32px;
        height: 32px;
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        font-family: "Segoe112", sans-serif;
        font-size: smaller;
        max-height: 200px;
        width: 100%;
    }

    .annotation {
        height: auto;
    }

    .nickname {
        border-bottom: darkslategray dashed 2px;
    }

    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: block;
        z-index: 10;
    }
}
